#header {
  display: flex;
  flex-direction: column; 
}

.logo-search {
  display: flex;
  align-items: center;  
  gap: 10px;            
}

.top {
  padding: 8px 15%;

  .top__nav {
    .top__list {
      display: flex;
      margin: 50px;        
      gap: 40px;            
      list-style: none;
      margin: 0;
      padding: 0;

        .top__item {
            a {
                color: #333;
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    color: #00c73c; 
                    text-decoration: underline;
                }
            }
            &:first-child {
                margin-right: 60%;
            }
        }
    }
  }
}


.header_logo{
    // border-bottom: 1px solid #555;

    a{
        display: flex;
        padding: 10px;
        margin: 10px 10px 10px 160px;

        em{
            width: 40px;
            height: 40px;
            display: block;
            background-color: #01B925;
            margin-right: 10px;
            animation: ani 20s 20s ease-in-out infinite;
        }

        img{
            width: 140px;
            height: 40px;
        }

    }
}

.menu {
  padding: 10px 20px;
  border-bottom: 1px solid #aaaaaa;

  .menu__list {
    display: flex;
    justify-content: center;   /* 중앙 정렬 */
    gap: 20px;                 /* 기본 간격 */
    list-style: none;
    margin: 0;
    padding: 0;

    .menu__item {
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &:hover {
          color: #01B925; /* 멜론 대표 색상 */
        }
      }
    }

    /* 마지막 항목만 간격 더 넓게 */
    .menu__item:last-child {
      margin-left: 40px; /* gap보다 크게 설정 */
    }
  }
}




@keyframes ani{
    
    0%{
        transform: rotate(0) scale(1);
        border-radius: 0;
    }

    50%{
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }

    100%{
        transform: rotate(0) scale(1);
        border: 0;
    }

}