#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    z-index: 100000;
    background-color: white;
}

#main{
    max-width: 2000px;
    max-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: white;
}

#footer{
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 20px 20px 20px 260px;
    background-color: white;
}