.search__inner{
    position: relative;
    display: inline-block;
    width: 400px;



  input {
    width: 100%;
    height: 40px;   
    background-color: var(--white);
    border: 3px solid #01B925;
    padding: 8px 40px 8px 15px; // 오른쪽 공간 확보
    border-radius: 40px;
    font-size: 16px;
    color: var(--black);
    box-sizing: border-box;     // padding 포함 계산
  }

  .search-icon {
    position: absolute;
    right: 15px;                // input 오른쪽 안쪽
    top: 50%;                   // 부모 높이의 절반
    transform: translateY(-50%); // 세로 중앙 정렬
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
}


@media (max-width:800px){
    .search__inner{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10000;
        background-color: var(--black);
        backdrop-filter: blur(10px);
        padding: 17px 20px 17px 200px;

        label{
            left: 213px;
        }

        input{
            padding: 14px 14px 14px 45px;
        }
    }
}